<!DOCTYPE html>
<html lang="es">
{% include "template_head.html" %}
<body>

        {% include "template_header.html" %}

        <!-- CONTENIDO PRINCIPAL -->
        <main class="content-dashboard">

            <div class="statistics-section">

                <h2>Dashboard</h2>

                <!-- JSON embebido -->
                <div class="hidden-deck-info" id="rounds-data">
                    {{ data_deck|tojson }}
                </div>

                <!-- Resumen -->
                <div id="general-stats" class="stats-block stats-grid"></div>

                <!-- Winrate por combinación de tintas -->
                <h3>Win-Rate</h3>
                <div id="ink-stats" class="stats-grid"></div>

                <br>
                <div class="filters-container">
                    <div class="filter-block">
                    <h3>Set</h3>
                    <div id="set-filter" class="filter-list"></div>
                </div>
            </div>

            </div>


        </main>

    <script src="{{ url_for('static', filename='js/stats-dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</body>
{% include "footer.html" %}
</html>
