<!DOCTYPE html>
<html lang="es">
{% include "template_head.html" %}
<body>

        {% include "template_header.html" %}

        <div class="content">
            <a class="white" href="/event/{{event.id_tournament}}">Volver</a>
        </div>
        <!-- CONTENIDO PRINCIPAL -->
        <main class="content">
            <br>
            <h3>{{event.tournament_name}}</h3><br>
            <h4>{{player.player_name}}</h4>
            <h4>{{final_result}}</h4>
            {% for round in results | reverse %}
                {% set id_round_calc = (results|length-loop.index)+1 %}
            <div class="round-card">

                <div class="round-header">
                    <span class="round-number">Ronda {{id_round_calc}}</span>
                    <span class="round-result">✨ {{round.result_win}} - {{round.result_loose}}</span>
                </div>

                <div class="round-body">

                    <div class="round-row">
                        <span class="label">Mi deck:</span>
                        <span class="value">{{round.deck_name}}</span>
                    </div>

                    <div class="round-row">
                        <span class="label">Tintas rival:</span>
                        <div class="ink-icons">
                            <img src="{{ url_for('static', filename='img/ink/'+round.first_ink|string+'.webp') }}" alt="Amber">
                            <img src="{{ url_for('static', filename='img/ink/'+round.second_ink|string+'.webp') }}" alt="Sapphire">
                        </div>
                    </div>

                    <div class="round-row">
                        <span class="label">Inicio: </span>
                        <span class="value">{% if round.is_otp == 1 %}🚀 OTP{%else%}🛡️ OTD{% endif%}</span>
                    </div>

                    <div class="round-row">
                        <span class="label">Dado:</span>
                        <span class="value">🎲 {% if round.has_won_dice == 1 %}✔{% else %}❌{% endif %}</span>
                    </div>

                    <div class="round-notes">
                        <span class="label">Notas:</span>
                        <p>{{round.comment}}</p>
                    </div>

                </div>

            </div>
            {% endfor %}


        </main>
        <div class="content">
            <div class="round-card round-form">
                <h2 class="form-title">Ver Runs</h2>
                <form action="/see-event/{{event.id_tournament}}" method="POST" class="round-form-content">
                    <div class="form-group">
                        <label>Jugador</label>
                        <select name="player" required>
                            <option value="" selected>--</option>
                            {% for player in all_players_on_event %}
                            <option value="{{player.id_player}}">{{player.player_name}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn-submit" type="submit">Ver</button>
                    </div>
                </form>
            </div>
        </div>
    <script src="{{ url_for('static', filename='js/events.js') }}"></script>
</body>
{% include "footer.html" %}
</html>
