<footer>
    <div class="container-policies">
        <p>v0.15.1</p>
    </div>
    <div class="container-policies">
        <p>&copy; 2026 TheInkredibles</p>
    </div>
    <!--div class="container-policies">
        <a href="/terms-and-conditions" class="enlace-politica-privacidad">Términos y Condiciones</a>
        <a href="/privacy-policy" class="enlace-politica-privacidad">Política de Privacidad</a>
        <a href="/cookies-policy" class="enlace-politica-privacidad">Política de Cookies</a>
    </div-->

</footer>