<!DOCTYPE html>
<html lang="es">
{% include "template_head.html" %}
<body>

    <div class="container">



        <!-- LOGIN FORM -->
        <div id="login-box" class="box">
            <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="Logo" class="logo">
            <h2>Iniciar sesión</h2>
            {% with messages = get_flashed_messages() %}{% if messages %}{% for message in messages %}<div class="error">{{ message }}</div>{% endfor %}{% endif %}{% endwith%}
            <form action="/login" method="POST">
                <input type="text" name="user" placeholder="Usuario" required>
                <input type="password" name="pass" placeholder="Contraseña" required>

                <button type="submit">Entrar</button>
            </form>

            <p class="toggle">Crear nueva cuenta</p>
        </div>

        <!-- REGISTER FORM -->
        <div id="register-box" class="box hidden">
            <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="Logo" class="logo">
            <h2>Crear cuenta</h2>

            <form action="/signup" method="POST">
                <input type="text" name="user" placeholder="Usuario" required>
                <input type="password" name="pass" placeholder="Contraseña" required>
                <input type="text" name="secret" placeholder="Palabra secreta" required>

                <button type="submit">Crear cuenta</button>
            </form>

            <p class="toggle">Volver al login</p>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
{% include "footer.html" %}
</html>
