<!DOCTYPE html>
<html lang="es">
{% include "template_head.html" %}
<body>

        {% include "template_header.html" %}

        <!-- CONTENIDO PRINCIPAL -->
        <main class="content">

            {% if user_data.num_booster_to_open > 0 and deck.all_cards | length > 0 %}
            <!-- ABRIR NUEVOS SOBRES -->
            <div class="comments-section">
                <h4>Sobres por abrir: {{user_data.num_booster_to_open}}</h4>
                <form action="/open-booster" method="POST">
                    <button class="btn-action" type="submit"><img class="height-200" src="{{ url_for('static', filename='img/booster.webp') }}" alt="Imagen"></button>
                </form>

            </div>
            {% endif %}


            {% if deck.all_cards | length > 0 %}
            <div class="deck-view">

                <!-- Deck list -->
                <div class="deck-list">
                    <!-- Cada carta -->
                    {% for card in deck.all_cards %}
                    <div class="card-slot">
                        <img src="{{ url_for('static', filename='img/card_images/'+card.image) }}" alt="{{card.card}}" class="card-img">
                        <span class="card-qty">{{card.qty}}</span>
                    </div>
                    {% endfor %}
                    <div id="cardModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="modalImg">
                    </div>
                </div>

            </div>
            {% else %}
                <!-- ESCOGER FACCION -->
                <div class="comments-section">
                    <h2 class="deck-title">Escoger Facción</h2>
                    <form action="/choose-faction/1" method="POST">
                        <button class="btn-action" type="submit"><img class="height-50" src="{{ url_for('static', filename='img/ink/1.webp') }}" alt="Imagen"></button>
                    </form>
                    <form action="/choose-faction/2" method="POST">
                        <button class="btn-action" type="submit"><img class="height-50" src="{{ url_for('static', filename='img/ink/2.webp') }}" alt="Imagen"></button>
                    </form>
                    <form action="/choose-faction/3" method="POST">
                        <button class="btn-action" type="submit"><img class="height-50" src="{{ url_for('static', filename='img/ink/3.webp') }}" alt="Imagen"></button>
                    </form>
                    <form action="/choose-faction/4" method="POST">
                        <button class="btn-action" type="submit"><img class="height-50" src="{{ url_for('static', filename='img/ink/4.webp') }}" alt="Imagen"></button>
                    </form>


                </div>
            {% endif %}
            <div class="comments-section">
                <p>Última compra: <b>{{user_data.booster_last_opened}}</b></p>
                <p>El siguiente sobre lo podrás comprar: {{user_data.next_booster}}</p>
                <p>Puedes comprar un sobre cada 8 horas.</p><br>
                <p>Cada sobre contiene 7 cartas: </p><br>
                <p>4 Comunes</p>
                <p>1 Rara</p>
                <p>1 Carta de las siguientes rarezas: Rara 95% o Alpha 4% o Arte Alternativo 1% </p>
                <p>1 Carta de las siguientes rarezs: Épica 70% o Legendaria 30%</p>
                <p></p>
                <p></p>
            </div>

        </main>

    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
{% include "footer.html" %}
</html>
